

.dropdown-item {
    background-color: white !important;
    &:focus {
        background-color: lightgrey !important ;
    };
    &:hover {
        background-color: lightgrey !important ;
    };
}
